<div class="container">

    <div class="row">

        <!-- Left Buffer -->
        <div class="span2">
            <!--Blank buffer-->
        </div>

        <div class="span8">
            <div class="balist">

                <!--List Header-->
                <div class="row">
                    <div class="balistHead">
                        <h1><%= @currentList.listName %></h1>
                        <!-- <p class="balistNote">Great restaurant town</p> -->
                    </div> <!-- closes balistHead div -->
                </div> <!--closes top row-->


                <div class="span4" style="padding-right:30px">

                    <div class="listTop">
                        <h2><%= @currentList.lefthand %></h2>
                        <a href="#" id="sortLeft" class="sort" rel="popover" data-content="Up" data-original-title="Sort"><i class="icon-list"></i></a>
                        <a href="#" class="addToggle"><i class="icon-plus"></i></a>
                    </div>

                    <ul class="balistListLeft">
                        <% @leftList.each do |item| %>
                        <li>
                            <div class="listItem">
                                <p class="itemTitle"><%= item.header %></p>
                                <p class="note"><%= item.comment %></p>
                            </div>
                        </li>
                        <%end%>
                        <li>
                            <form class="form-inline" action="#" method="post">
                                <input type="text" name="newLeftElement" placeholder="+ Add Item">    
                            </form>
                        </li>
                    </ul>


                </div> <!-- closes span4 -->
                
                <div class="span4">
                    <div class="listTop">
                        <h2><%= @currentList.righthand %></h2>
                        <a href="#" id="sortRight" class="sort"><i class="icon-list"></i></a>
                        <a href="#" class="addToggle"><i class="icon-plus"></i></a>
                    </div>

                    <ul class="balistListRight">
                        <% @rightList.each do |item| %>
                        <li>
                            <div class="listItem">
                                <p class="itemTitle"><%= item.header %></p>
                                <p class="note"><%= item.comment %></p>
                            </div>
                        </li>
                        <%end%>
                    </ul>


                </div> <!--closes Span 4-->


            </div> <!--closes balist div-->
        </div>
        <div class="span2">

        </div>
    </div>


